/* MedicineSearch.css */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style for the top search bar */
.top-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Style for the search bar input */
.search-bar {
  width: 500px; /* You can adjust the width as needed */
  font-size: 18px;
  padding: 10px;
}

/* Style for the search button */
.search-button {
  background-color: #ff4400;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.medicine-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f9fc;
}

.medicine-table th,
.medicine-table td {
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}

.medicine-row:hover {
  background-color: #e0f5ff;
  cursor: pointer;
}

.selected {
  background-color: #b3daff;
}

.medicine-details-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f9fc;
}

.medicine-details-table th,
.medicine-details-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d4d4d4;
}

button {
  background-color: #ff4400;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.medicine-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #ff4400;
  color: #fff;
  text-decoration: none;
  border: #fff;
  border-radius: 20px;
}

.medicine-search-button:hover {
  background-color: #ff440055;
}

img {
  max-width: 100px; /* Set the maximum width for the images */
  max-height: 100px; /* Set the maximum height for the images */
}

.medicine-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medicine-search-container {
  display: flex;
  justify-content: space-between; /* Add this line to create space between the two divs */
}

.search-and-cart-container {
  display: flex;
  width: 100%;
}

.medicine-content {
  flex: 1; /* This will make the Medicine content take up the available space */
}

.cart-content {
  width: 300px; /* Adjust the width of the cart as needed */
  margin-left: 20px; /* Add some margin between Medicine content and Cart content */
}
