/* UserList.css */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f9fc;
}

.user-table th,
.user-table td {
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}

.user-row:hover {
  background-color: #e0f5ff;
  cursor: pointer;
}

.selected {
  background-color: #b3daff;
}

.user-details-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f9fc;
}

.user-details-table th,
.user-details-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d4d4d4;
}

button {
  background-color: #ff4400;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

body{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #ff4400;
  /* Button background color */
  color: #fff;
  /* Button text color */
  text-decoration: none;
  border: #fff;
  border-radius: 20px;
}
.button:hover{
  background-color: #ff440055;
}

.register form div{
  padding: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}
.register form div label{
  margin-right: 10px;
}
.register form div input{
  width: fit-content;
  height: fit-content;
}

button:hover {
  background-color: #ff440055;
}

/* AdminPanel.css */

/* Style the form container */
/* Add lines between forms */
.form-container {
  display: inline-block;
  border: 1px solid #d4d4d4;
  padding: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 5px;
}

/* Style text input elements */
.form-container input[type="password"] {
  margin-left: 2px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Style the submit button */
.form-container button[type="submit"] {
  background-color: #ff4400;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #ff440055;
}

.table-name {
  text-align: center;
}

.select-buttons {
  text-align: center;
  margin-top: 20px;
}

.one {
  margin-right: 10px;
}